---
---

@import "{{ site.theme }}";

.page-header {
    /*color: #fff;*/
    text-align: center;
    /*background-color: red;*/
    background-color: #343a40;
    background-image: linear-gradient(120deg, #343a40, #343a40);
    
    /*background-image: url("{{ site.url }}/pasarela-tenoli/assets/img/banner.jpg");*/
    /*background-size: 1080px 385px;*/
    background-size: 100% 300px;
}

.project-name {
    color: white;
}

.project-tagline {
    color: white;
}

.btn {
    color: rgba(0,0,0,0);
    background-color: rgba(192,192,192,0.3);
    border-color: rgba(0,0,0,0.2);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

/*
.btn {
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
*/
.page-footer{
    text-align: center;
    
}
